*.py[co]
*.DS_*
# Packages
*.egg
*.egg-info
dist
build
eggs
parts
!templates/parts
bin
var
sdist
develop-eggs
.installed.cfg
.private
settings.cfg
static/tmp/*
!empty

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
venv
*.pyc
build
