{% extends "layout.html" %}

{% block content %}

{% set items_per_page = 6 %}

<div class="ui vertical stripe segment">
    <div class="ui middle aligned container">

        <h2 class="ui header">
            <i class="share alternate icon"></i>
            <div class="content">
                Share
                <div class="sub header">Manage your Vector packages</div>
            </div>
        </h2>

        <div class="ui divider"></div>

        <div id="share-tabs-menu">
            <div class="ui secondary menu">
                <a class="item active" data-tab="shared">Currently shared</a>
                <a class="item" data-tab="unshared">Sharable repositories</a>
            </div>
        </div>

        {% set is_repository_shared = True %}
        {% set repos_count = shared_repos|length %}
        {% set pages_count = (repos_count/items_per_page)|round(0,'ceil')|int %}

        <div class="ui tab active" data-tab="shared">
            {% if repos_count > 0 %}

                {% for page in range(pages_count) %}
                    <div class="ui tab segment{% if page == 0 %} active{% endif %}"
                         data-tab="shared/page-{{ page }}"
                         style="margin-top: 1em;">
                        <div class="ui three cards">
                            {% for repo in shared_repos[page*items_per_page:page*items_per_page+items_per_page] %}
                                {% include 'parts/user_repo_card.html' %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}

                {% if pages_count > 1 %}
                    <div id="shared-pages-tabs-menu">
                        <div class="ui secondary menu">
                            <div class="right menu">
                                {% for page in range(pages_count) %}
                                    <a class="ui item{% if page == 0 %} active{% endif %}"
                                       data-tab="shared/page-{{ page }}">
                                        {{ page+1 }}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}

            {% else %}
                <div class="ui tab active segment" style="margin-top: 1em;">
                    <div class="ui basic segment">
                        <div class="ui icon info message">
                            <i class="exclamation circle icon"></i>
                            <div class="content">
                                <div class="header">You haven't shared any package</div>
                                <p>
                                    You can share your first github Vector package by choose
                                    it from your sharable repositories tab
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>

        {% set is_repository_shared = False %}
        {% set repos_count = unshared_repos|length %}
        {% set pages_count = (repos_count/items_per_page)|round(0,'ceil')|int %}

        <div class="ui tab" data-tab="unshared">
            {% if repos_count > 0 %}

                {% for page in range(pages_count) %}
                    <div class="ui tab segment{% if page == 0 %} active{% endif %}"
                         data-tab="unshared/page-{{ page }}"
                         style="margin-top: 1em;">
                        <div class="ui three cards">
                            {% for repo in unshared_repos[page*items_per_page:page*items_per_page+items_per_page] %}
                                {% include 'parts/user_repo_card.html' %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}

                {% if pages_count > 1 %}
                    <div id="unshared-pages-tabs-menu">
                        <div class="ui secondary menu">
                            <div class="right menu">
                                {% for page in range(pages_count) %}
                                    <a class="ui item{% if page == 0 %} active{% endif %}"
                                       data-tab="unshared/page-{{ page }}">
                                        {{ page+1 }}
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}

            {% else %}
                <div class="ui tab active segment" style="margin-top: 1em;">
                    <div class="ui basic segment">
                        <div class="ui icon info message">
                            <i class="exclamation circle icon"></i>
                            <div class="content">
                                <div class="header">You haven't got any sharable package</div>
                                <p>You can make your first package by coding it and send it to github</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>

    </div>
</div>

<script type="text/javascript">
$('#share-tabs-menu .menu .item').tab();
$('#shared-pages-tabs-menu .menu .item').tab();
$('#unshared-pages-tabs-menu .menu .item').tab();
</script>

{% endblock %}
