{% extends "layout.html" %}

{% block content %}

{% raw %}

<div id="app-share" v-cloak>
    <div class="ui vertical stripe segment">
        <div class="ui middle aligned container">

            <h2 class="ui header">
                <i class="share alternate icon"></i>
                <div class="content">
                    Share
                    <div class="sub header">Manage your Vector packages</div>
                </div>
            </h2>

            <div class="ui divider"></div>

            <div class="ui basic segment" v-if="page_loading">
                <p></p>
                <div class="ui active inverted dimmer">
                    <div class="ui massive text loader">Loading ...</div>
                </div>
                <img class="ui wireframe image" src="/static/img/short-paragraph.png">
                <img class="ui wireframe image" src="/static/img/short-paragraph.png">
                <img class="ui wireframe image" src="/static/img/short-paragraph.png">
           </div>

            <div v-if="items.length > 0">
                <div class="ui three cards" v-if="!page_loading">
                    <div class="ui fluid card" v-for="repository in items">
                        <div class="content">
                            <img class="right floated mini ui image" v-bind:src="repository.owner.avatar_url">
                            <div class="header">{{ repository.name }}</div>
                            <div class="meta" v-if="repository.is_shared">
                                <div class="ui label">
                                    {{ repository.shared_version }}
                                </div>
                            </div>
                            <div class="meta" v-if="!repository.is_shared">Not shared</div>
                            <div class="description">{{ repository.description }}</div>
                        </div>
                        <div class="extra content">
                            <div class="ui right floated">
                                <a class="ui icon basic button"
                                   v-on:click="openShareModal(repository)"
                                   v-bind:class="{ disabled: repository.share_loading }"
                                   v-if="repository.is_shared">
                                    <i class="icon"
                                       v-bind:class="{
                                           'circle notch loading': repository.share_loading,
                                           'pencil alternate': !repository.share_loading
                                       }"></i>
                                </a>
                                <a class="ui green basic icon button"
                                   v-on:click="openShareModal(repository)"
                                   v-bind:class="{ disabled: repository.share_loading }"
                                   v-else>
                                    <i class="icon"
                                       v-bind:class="{
                                           'circle notch loading': repository.share_loading,
                                           'plus': !repository.share_loading
                                       }"></i>
                                </a>
                            </div>
                            <a class="ui red basic icon button"
                               v-on:click="unshare(repository)"
                               v-bind:class="{ disabled: repository.unshare_loading }"
                               v-if="repository.is_shared">
                                <i class="icon"
                                   v-bind:class="{
                                       'circle notch loading': repository.unshare_loading,
                                       'trash alternate outline': !repository.unshare_loading
                                   }"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui tab active segment" v-if="!page_loading && items.length == 0">
                <div class="ui basic segment">
                    <div class="ui icon info message">
                        <i class="exclamation circle icon"></i>
                        <div class="content">
                            <div class="header">You haven't got any sharable package</div>
                            <p>You can make your first package by coding it and send it to github</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ui divider"></div>

            <div v-if="pages_count > 1">
                <div class="ui secondary menu">
                    <div class="right menu">
                        <a class="ui item"
                           v-bind:class="{ active: page_n==page }"
                           v-bind:data-tab="'unshared/page-' + page_n"
                           v-for="page_n in pages_count"
                           v-on:click="page=page_n">
                            {{ page_n }}
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="ui modal" v-show="selected.repository">
        <i class="close icon"></i>
        <div class="header">
            <i class="share alternate icon"></i> {{ selected.repository.full_name }}
        </div>
        <div class="content">
            <div class="description">
                <div class="ui header">Please choose options below to share your package : </div>
                <form class="ui form">
                    <div class="field" v-show="selected.versions.length > 0">
                        <label>Select the release to share</label>
                        <select class="ui dropdown" v-model="selected.version">
                            <option v-for="version in selected.versions" v-bind:value="version.name">
                                {{ version.name }}
                            </option>
                        </select>
                    </div>
                    <div class="ui basic segment" v-if="selected.versions.length == 0">
                        <div class="ui icon info message">
                            <i class="exclamation circle icon"></i>
                            <div class="content">
                                <div class="header">No releases found</div>
                            </div>
                        </div>
                    </div>
                    <div class="field" v-show="selected.entrypoints.length > 0 && selected.versions.length > 0">
                        <label>Select the entrypoint to launch</label>
                        <select class="ui dropdown" v-model="selected.entrypoint">
                            <option v-for="entrypoint in selected.entrypoints" v-bind:value="entrypoint.name">
                                {{ entrypoint.name }}
                            </option>
                        </select>
                    </div>
                    <div class="ui basic segment" v-if="selected.version && selected.entrypoints.length == 0">
                        <div class="ui icon info message">
                            <i class="exclamation circle icon"></i>
                            <div class="content">
                                <div class="header">No content found</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                Cancel
            </div>
            <div class="ui positive right labeled icon button"
                 v-bind:class="{disabled: (!selected.version||!selected.entrypoint||selected.repository.share_loading)}"
                 v-on:click="share(selected.repository)"
                 v-if="!selected.repository.is_shared">
                Share
                <i class="icon" v-bind:class="{
                    checkmark: !selected.repository.share_loading,
                    loading: selected.repository.share_loading }"></i>
            </div>
            <div class="ui positive right labeled icon button"
                 v-bind:class="{disabled: (!selected.version||!selected.entrypoint||selected.repository.share_loading)}"
                 v-on:click="update(selected.repository)"
                 v-if="selected.repository.is_shared">
                Update
                <i class="icon" v-bind:class="{
                    checkmark: !selected.repository.share_loading,
                    loading: selected.repository.share_loading }"></i>
            </div>
        </div>
    </div>
</div>

{% endraw %}

{% endblock %}

{% block javascript %}
<script src="/static/js/share.js"></script>
{% endblock %}
