{% extends "layout.html" %}

{% block content %}

{% raw %}
<div class="ui vertical stripe segment" id="app-share">
    <div class="ui middle aligned container">

        <h2 class="ui header">
            <i class="share alternate icon"></i>
            <div class="content">
                Share
                <div class="sub header">Manage your Vector packages</div>
            </div>
        </h2>

        <div class="ui divider"></div>

        <div class="ui basic segment" v-if="page_loading">
            <p></p>
            <div class="ui active inverted dimmer">
                <div class="ui massive text loader">Loading ...</div>
            </div>
            <img class="ui wireframe image" src="/static/img/short-paragraph.png">
            <img class="ui wireframe image" src="/static/img/short-paragraph.png">
            <img class="ui wireframe image" src="/static/img/short-paragraph.png">
       </div>

        <div v-if="items.length > 0">
            <div class="ui three cards" v-if="!page_loading">
                <div class="ui fluid card" v-for="repository in items">
                    <div class="content">
                        <img class="right floated mini ui image" v-bind:src="repository.owner.avatar_url">
                        <div class="header">{{ repository.name }}</div>
                        <div class="meta">{{ repository.full_name }}</div>
                        <div class="description">{{ repository.description }}</div>
                    </div>
                    <div class="extra content">
                      <span><i class="star icon"></i> {{ repository.stargazers_count }} Stars</span>
                      <span><i class="eye icon"></i> {{ repository.watchers_count }} Watchers</span>
                    </div>
                    <a class="ui bottom attached pink button"
                       v-bind:href="'/unshare/' + repository.name"
                       v-if="repository.is_shared">
                        <i class="trash alternate outline icon"></i>
                        unshare
                    </a>
                    <a class="ui bottom attached primary button"
                       v-bind:href="'/share/' + repository.name"
                       v-else>
                        <i class="plus icon"></i>
                        share
                    </a>
                </div>
            </div>
        </div>
        <div class="ui tab active segment" v-if="!page_loading && items.length == 0">
            <div class="ui basic segment">
                <div class="ui icon info message">
                    <i class="exclamation circle icon"></i>
                    <div class="content">
                        <div class="header">You haven't got any sharable package</div>
                        <p>You can make your first package by coding it and send it to github</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui divider"></div>

        <div v-if="pages_count > 1">
            <div class="ui secondary menu">
                <div class="right menu">
                    <a class="ui item"
                       v-bind:class="{ active: page_n==page }"
                       v-bind:data-tab="'unshared/page-' + page_n"
                       v-for="page_n in pages_count"
                       v-on:click="page=page_n">
                        {{ page_n }}
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endraw %}

{% endblock %}

{% block javascript %}
<script src="/static/js/share.js"></script>
{% endblock %}
